body{
  background-image: url(../img/ocean.jpg);
}

.flex-container{
  display: flex;
  background-color: #3568A6;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  padding: 10px;
}

.flex-container div{
  background-color: #A5C6EE;
  width: 1100px;
  border: 2px solid black;
}

.flex-container2{
  display: flex;
  background-color: #3568A8;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  padding: 10px;
}

.flex-container2 div{
  background-color: #A5C6EE;
  width: 1100px;
  border: 2px solid black;
}

#title{
  text-align: center;
}

#imgs{
  width: 450px;
  height: 275px;
  padding: 10px;
}

#issueIMG{
  margin-left: 75px;
}

#info{
  margin-left: 75px;
  margin-right: 65px;
  font-size: 20px;
}

#facts{
  font-weight: bold;
}

.container{
  display: flex;
  justify-content: center;
  background-color: #A5C6EE;
  border-color: #A5C6EE;


}

.container div{
  background-color: #A5C6AE;
  border-color: #A5C6EE;

  margin: 10px;
  text-align: center;
}

img{
  width: 100%;
}

.row{
  display: flex;
  margin-left: 200px;
  padding: 5px;
  width: 1000px;
}

.column{
  flex: 20%;
  padding: 5px;
}

.column img{
  margin-top: 5px;
}
